<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header ><center>Kayıt ekranı</center></ion-header>
<ion-content position="center">
<ion-item position="center">
  <ion-label position="floating">
    <center>E-mail giriniz :</center>
  </ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">
    <center>Şifre giriniz :</center>
  </ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-button expand="full" fill="outline">Kaydı Tamamla</ion-button>
</ion-content>
